[submodule "lib/idris-dom"]
	path = lib/idris-dom
	url = https://github.com/blau-io/idris-dom.git
[submodule "lib/idris-console"]
	path = lib/idris-console
	url = https://github.com/blau-io/idris-console.git
